.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*CCS for MovieForm*/

.MovieForm {
  width: 500px;
  margin: 0 auto;
  text-align: left;
 }

 .MovieForm fieldset {
  height: 415px;  
  margin: 10px;
 }
 
 .MovieForm h1 {
  text-align: center;
 }

 .MovieForm legend {
  text-align: center;
 }
 
 .MovieForm .form-data {
  display: flex;
  justify-content: center;
  margin: 5px 0;
 }
 
 .MovieForm .form-data label {
  display: inline-block;
  width: 75px;
  margin-right: 10px;
  text-align: right;
 }

 .MovieForm textarea {
   min-width: 380px;
   max-width: 380px;
   min-height: 280px;
   max-height: 280px;
 }

 .MovieForm .submitBtn {
   padding: 4px;
   height: 40px;
   width: 100px;
 }
 
 .MovieForm .form-data input:not([type="submit"]) {
  flex-grow: 1;
 }